<html>
<head>
  <title>
    Expose.js
  </title>


  <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/expose_base.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flashy.js') }}"></script>
  <script src="{{ url_for('static', filename='js/expose_schema_director.js') }}"></script>

  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/expose.css') }}"/>


  <script>
    // Connect to the HTML element we 'print' to
  </script>
</head>
<body>
  <article class = "expose_search_control">
      <div class = "expose_logo_div">
      <p class = "expose_logo">Expose.js</p>
    </div>
     <input type="text" class="expose_search_bar">
     <div  class="expose_search_list" >
        <table class="expose_search_table" >

        </table>
      </div>
  </article>
   <div class="parsed_sql">We parsed this SQL Statement:</div>
  <div class="result">
    <h3>Your Results:</h3>
  </div>

  <table id="table_result">
    <tbody>
    </tobdy>
  </table>


</body>
</html>
